{% extends 'myapp/base.html' %}
{% load static %}
{% block body_block %}
<div class="jumbotron">
    <a class="btn btn-success" href="https://www.facebook.com/">Facebook</a>
    <a class="btn btn-danger" href="https://www.instagram.com/">Instagram</a>
    <a class="btn btn-info" href="https://www.youtube.com/">Youtube</a>
    <a class="btn btn-warning" href="https://twitter.com/Twitter?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">Twitter</a>
</div>
<div class="">
    <img src="">
</div>
{% endblock %}